body {

background-color:#ffccff;
color: #ff4da6;
font-family: sans-serif;
}

h1{

 margin: 0 50px;
 font-size: 72pt;
 text-decoration: underline;

}

p{
    margin: 50px;
    padding: 35px;
    font-size: 16pt;
    border: 2px solid #1a1aff;
}

div {
border: 5px dashed  #ffff00;
color: #ffff00;
}